<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Anecdotes</title>
    </head>

    <body>
        <h1>Anecdotes</h1>

        <table>
            <tr>
            <th style="text-align:left">Username: <td>{{user.username}} 
        </table>


        <form action='logout/' method="POST">
            {% csrf_token %}
            <input type="submit" value="Logout"/>
        </form>

        <br>

        <table>
            {% for anecdote in anecdotes %}
            <tr>
                <td>
                {{ anecdote }}
                <td>
                <a href="{% url 'detail' anecdote.id %}">View</a>
                <td>
                <form action="{% url 'delete' %}" method="POST">
                    <!-- OWASP vulnerability 6. Fix: {% csrf_token %} -->
                    <input type="hidden" name="id" value="{{anecdote.id}}" />
                    <input type="submit" value="Delete"/>
                </form>
            {% endfor %}
        </table>

        <form action="{% url 'add' %}" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<input type="textarea" name="anecdote" id="anecdote"/>
            <input type="submit" value="Add"/>
        </form>
            
        <p>Find people with anecdotes about a topic</p>
        <form action="{% url 'search' %}" method="POST">
            {% csrf_token %}
            <input type="textarea" name="query"/>
            <input type="submit" value="Search"/>
        </form>

        <table>
            {% for user in found_users %}
            <tr>
                <td>
                {{ user.username }}
            {% endfor %}
        </table>
        
    </body>
</html>